body{
    
}




.footer {
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 30px;
}

.footer h3 {
    margin-bottom: 5px;
}

.footer p {
    margin: 4px 0;
    font-size: 14px;
}

.footer-copy {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.8;
}