*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif
}

body{
    min-height: 100vh;
    /*background-image: url("../img/db51708d-df38-4d72-a92b-90f3841d66cf.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-color: #ffffff;
}

#menus-h{
    list-style: none;
    padding: 0;
     display: flex;
    list-style: none;
    gap: 25px;
}

#menus-h {
 ;
}

#menus-h li{ 
    display: inline;
}

#menus-h li a{ 
    text-decoration: none;
    color: #080808;
    padding: 20px;
    display: inline-block;
    transition: background .6s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#menus-h li a:hover{
    background-color: rgba(12, 12, 12, 0.15);
    color: #6b3e26;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 15px 40px;
}

.logo img {
  width: 50px;
  margin-left: 30px;
}

nav {
  display: flex;
  justify-content: center;
}

.btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.btn-whatsapp img {
    width: 55px;
    animation: puloGiro 2.5s infinite ease-in-out;
    transform-origin: center;
}

@keyframes puloGiro {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    10% {
        transform: translateY(-10px) rotate(0deg);
    }
    20% {
        transform: translateY(0) rotate(0deg);
    }

    30% {
        transform: translateY(-10px) rotate(0deg);
    }
    40% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-10px) rotate(0deg);
    }
    60% {
        transform: translateY(0) rotate(0deg);
    }

    80% {
        transform: translateY(0) rotate(360deg);
    }

    100% {
        transform: translateY(0) rotate(360deg);
    }
}

.btn-whatsapp img:hover {
    transform: scale(1.1);
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    right: 70px;
    background-color: #25d366;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
}

:root {
    --border-radius: 15px;
}

.btn-whatsapp:hover .tooltip-text {
    visibility: visible;
}

.banner-container{
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    font-family: var(--font-family);
    color: #fff;
}

.banner-main{
    flex: 2;
    height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
                      url(../img/banner/bannermaior.webp);
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius);
    padding: 40px;
    display: flex;
    align-items: center;
    animation: fromLeft 1s ease-out forwards;
}

.banner-main h1 { font-size: 3rem; margin-bottom: 10px;}
.banner-main p { font-size: 1.5rem; margin-bottom: 30px;}

.btn{
    background-color: #5cb85c;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover { background-color: #4cae4c; }

.banner-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-item {
    flex: 1;
    border-radius: var(--border-radius);
    padding: 30px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    color: #fff;
    font-size: 1.5rem;
}

.side-item h2 { font-size: 2.1rem; width: 60%; line-height: 1.2; }

.curso h2 {
    display: flex;
    flex-direction: column;
}

.blog { background-image: url('../img/banner/café.jpg'); }
.curso { background-image: url('../img/banner/bannertwo.jpg'); }

.banner-side .curso {
    animation: fromRight 1s ease-out forwards;
    animation-delay: 0.3s;
}

.banner-side .blog {
    animation: fromRight 1s ease-out forwards;
    animation-delay: 0.3s;
}

@keyframes fromLeft {
    from {
        transform: translateX(-80px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    from {
        transform: translateX(80px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .banner-container { flex-direction: column; }
    .banner-main { height: 300px; }
    .side-item { height: 200px; }
}

.product-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    width: 260px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.image-container {
    position: relative;
    background-color: #ffffff; 
    padding: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.badge {
    position: absolute;
    top: 7px;
    right: 7px;
    color: white;
    padding: 4px 8px ;
    font-weight: bold;
    border-radius: 4px;
    color: #fff;
}

.new { background-color: #93a67f; } 
.sale { 
    background-color: #b59e25; 
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.info {
    padding: 20px 15px;
}

.info h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    font-weight: bold;
    color: #666;
    margin-bottom: 20px;
}

.old-price {
    text-decoration: line-through;
    color: #bbb;
    font-weight: normal;
    margin-right: 5px;
}

.price span + b { /* caso tenha oferta mudar o preço(ideia)*/
    color: #4a5b7d;
}

.btn-buy {
    background-color: #e9e9ed;
    border: none;
    color: #555;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-buy:hover{
    background-color: #d1d1d6;
}